RewriteEngine On
RewriteCond %{HTTPS} off
RewriteRule (.*) https://%{HTTP_HOST}/$1 [R=301,L]

DirectoryIndex /pages/index.blade.html

RewriteRule ^apply /pages/apply.blade.html [NC,L]
RewriteRule ^social /pages/social.blade.html [NC,L]
RewriteRule ^itsnighty /pages/social.blade.html [NC,L]
RewriteRule ^janiki /pages/social.blade.html [NC,L]
