// File: _grid.scss

// This file contains all styles related to the basic grid of the pages.

/* STYLES GO HERE */
.w-40  {
  max-width: 40%;
  min-width: 40%;
}

.red-border {
  border-bottom: 10px solid $secondary;
}
