// File: _backgrounds.scss

// This file contains all styles related to the basic layout of the pages.

/* STYLES GO HERE */
.bg-primary {
  background: $primary!important;
}

.bg-primary-2 {
  background: $primary-2!important;
}

.bg-secondary {
  background: $secondary!important;
}

.bg-secondary-2 {
  background: $secondary-2!important;
}

.bg-dark {
  background: $dark!important;
}

.bg-dark-2 {
  background: $darker-dark!important;
}
